body {
    display: flex;
    flex-direction: column;
    background-color: lightgrey; }
    margin-bottom: 1em;
  }
  
  
  .topbar {
    background-color: cyan;
  }
  
  
  .info{      
  background-color: rebeccapurple;
  }

